.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    transition: .3s;
    cursor: pointer;
}