.container{
    min-height: 208px;
    display: grid;
    grid-template-rows: max-content min-content 1fr;
    position: relative;
    justify-content: center;
    text-align: center;
    max-width: 272px;
    cursor: pointer;
}
.img{
    margin: 0;
}
.price{
    display: grid;
    gap: 9px;
    grid-template-columns: max-content max-content;
    margin: auto;
}
.box{
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: min-content min-content 1fr min-content min-content;
    gap: 0 20px;
    padding: 16px 32px 16px 0;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}