.popup {
    background: #1C1C21;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
    box-sizing: border-box;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-width: 720px;
}

.close {
    position: absolute;
    right: 40px;
    top: 60px;
    cursor: pointer;
}

.container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
}