.cardBox {
    display: grid;
    gap: 32px 24px;
    grid-template-columns: max-content max-content;
    box-sizing: border-box;
    padding: 24px 16px 40px;
}

.container {
    display: flex;
    flex-direction: column;
    appearance: none;
    padding: 0;
    margin: 0;
}