.content {
    display: grid;
    margin: 0;
    max-height: 85vh;
    gap: 0;
    grid-template-columns: max-content;
    grid-template-rows: min-content min-content 1fr;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.title {
    padding-top: 40px;
}

.tabs {
    display: flex;
    width: 100%;
}